.root {
  @apply inline-flex cursor-pointer items-center justify-center rounded-sm border border-transparent  bg-primary px-10 py-4 text-center font-semibold leading-6 text-zinc-800 shadow-sm transition duration-150 ease-in-out;
}

.root:hover {
  @apply border border-white bg-zinc-800 text-white;
}

.root:focus {
  @apply outline-none ring-2 ring-primary ring-opacity-50;
}

.root[data-active] {
  @apply bg-zinc-600;
}

.loading {
  @apply cursor-not-allowed border-zinc-600 bg-zinc-700 text-zinc-500;
}

.slim {
  @apply transform-none py-2 normal-case;
}

.disabled,
.disabled:hover {
  @apply cursor-not-allowed border-zinc-600 bg-zinc-700 text-zinc-400;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
